.formImage {
    position: relative;
    height: 85vh;
    background-image: url('../../../public/one.jpg');
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    width: 100%;
}

@media (max-width: 1024px) {
  .formImage {
    display: none !important;
  }
}